@font-face { 
  font-family: "BitterRegular";
  src: url("./fonts/Bitter/static/Bitter-Regular.ttf"); 
  font-style: normal;
  font-weight: 400;
}

body{ 
  /* overflow-x: hidden; */
  min-width: 600px;  
}

.App {
  text-align: center;
  /* overflow: hidden; */
  font-family: 'Bad Script', cursive;
}


.App-header{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.under_header_div { 
 
  margin-left: 19px;
  margin-right: 30px;
  height: 30px;
 
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;

  border-top: #367669 solid;
  border-width: 2px;
}

.under_header_div p {
  color: #282c34;
}

.under_header_buttons_div {
  display: flex;
  width: 577px;
}

.App-link {
  color: #61dafb;
}

.content {
  background-color: white;
 
  height: auto;
  min-height: 100vh;
  
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  font-size: 17px;
  color: white;
  background:rgba(255,255,255, 0.7);
  font-family: 'BitterRegular';
}



.header {
  min-height: 250px;  
  background: rgba(255, 255, 255, 0.7);
  display: flex;  
  padding: 3px;  
}

.logo_wrapper {
  width: 300px;
  height: 270px;  
}
.logo img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-top: 8px;
}

.header_pic_wrapper {
  display: flex;
  width: 300px;
  height: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px; 
}
.header_pic img{
  object-fit: cover;
  width: 50vh; 
  padding-left: 30px;
  padding-top: 8px;
}

.header_pic{
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 10px;
}

.contacts_text {
  display: flex;
  justify-content: space-between;  
  align-items: end; 
  margin-left: 115px;
  
}
.upper_div {
  justify-content:space-around;
}
.contact_string{
  display: flex;
  justify-content: space-between;
}

.contact_pic {
  display: flex;
  align-items: center;
}

.contact_string img {
  color: #367669;
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

.contact_string_email_p {
  display: flex;
}

.contact_string_p {
  width: 147px;
  color: black;
  margin: auto; 
  font-size: 21px;
}

.contact_string_p a {
  margin: auto;
  color: black;
}

.button_div {  
  width: 25%;
  width: fit-content;
  height: fit-content;

  cursor:pointer;  
  background-color:gray;  
  text-align:center;
  color:#ffffff; 
  font-size: 25px;
 
  background:rgba(255,255,255, 0.05);
  padding-left: 10px; /* Минимальный отступ текста от границ кнопки. Определяет размер кнопки */
  padding-right: 10px;
  border-radius: 5px; /* Радиус закругления уголков */
  box-shadow: 0px 1px 3px; /* Тень */ 

  white-space: nowrap;
  }

  .button_div a{
    padding-left: 10px; /* Минимальный отступ текста от границ кнопки. Определяет размер кнопки */
    padding-right: 10px;
    color: black; 
    text-decoration:none; 
  }
  
.button_div:hover { /* Преображение при наведении */
  /* background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #a8fdfd,#367669);  Радиальный градиент, переход цвета от центра к краям */
  background:rgba(54, 118, 105, 0.3);
}

.language_switcher {
  height: 60px;
  width: 171px
}

.file_download {
  background:rgba(54, 118, 105, 0.3);
  text-decoration:none; 
}


@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__innerList[data-animate="true"] 
.looper__listInstance {
  animation: slideAnimation linear infinite;   
}

.looper__listInstance {
  display: flex;
  width: max-content;

  animation: none;
}

@keyframes move {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }  
}

.moving_pic_1 {
  width: 100vw;
  height: auto;

  position: absolute;
  animation: move 30s infinite;
  animation-timing-function: linear;
  animation-delay: -15s;
}

.moving_pic_2 {
  width: 100vw;
  height: auto;

  position: absolute;
  animation: move 30s infinite;
  animation-timing-function: linear;
}

.belt_pic_div_1 {
  background-image: url('./img/moving_image_2.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  width: 100vw;
  height: 300px;

  position: absolute;
  animation: move 30s infinite;
  animation-timing-function: linear;
  animation-delay: -15s;
}

.belt_pic_div_2 {
  background-image: url('./img/moving_image_2.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  width: 100vw;
  height: 300px;

  position: absolute;
  animation: move 30s infinite;
  animation-timing-function: linear;
}

.background_size_pic {
  width: 100vw;
  height: auto;
  position: relative;
}

.middle_line_img {
  width: 70vw;
  height: 50px;
  margin-top: 30px;
}


.middle_jobicons_1 {
  width: 100vw;
  display: flex; 
  justify-content: space-between;

  margin-top: 30px;  
  height: fit-content;
}

.middle_jobicons_2 {
  width: 100vw;
  display: flex; 
  justify-content: space-around;

  margin-top: 30px;  
  height: fit-content;
}

.middle_jobicons_block {
  width: 33%;
}

.middle_jobicons_block p {
  color: black;
  width: 40vw;

  font-size: 30px;
  white-space: nowrap;
}

.middle_strings p {
  color: black;
}

.present_text {
  font-size: 40px;
}

.company_name {
  font-size: 50px;
  text-decoration: underline;
}

.present_text_2 {
  font-size: 35px;
}


.middle_string {
  display: flex;
  width: fit-content;
}

.middle_icon img {
  height: auto; 
  width: 20vw;
}

.icon_and_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle_jobicons_2_half1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
}

.middle_jobicons_2_half2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10vw;
}

.moving_image_div {
  overflow: hidden;
}

.belt_pic {  
  display: flex;  
}

.belt_pic_2 {
  display:block;
  width: 100vw;
  margin: 0 auto;
  height: auto;
  min-height: 500px;
  background-color: #505050;
}

.moving_gallery_item {
  height: 400px;
  width: auto;
  margin: 50px;
  padding: 10px;

  background-color: #b1b1b1;

  position: absolute;
  animation: move 20s infinite;
  animation-timing-function: linear;
}

.moving_gallery_item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel_container {
  padding: 100px;
  padding-bottom: 10px;
  font-family: "BitterRegular";
}

.carousel-root {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.carousel_item { 
  background-color: #58c4ae;
}

.carousel_item img {
  padding: 5px;
}

.images {
  display: flex;
  overflow: hidden;
  animation: slide 20s linear infinite;
}

.images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.prev, .next {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.prev {
  margin-right: 1rem;
}

.next {
  margin-left: 1rem;
}

.about_us_field p {
  color: black;
  font-size: 40px;
}

.contaier_button {
  display: flex;
}

.button_div {
  display: flex;
  padding: 10px;
  margin: auto; 
}

.button_div p {
  margin-bottom: 0;

}

.file_download img {
  width: 35px;
  height: 35px;
}

.about_us_text {
  padding-top: 10vw;
  padding-right: 10vw;
  padding-left: 10vw;
}

.about_us_p1{
  color: black;
  font-size: 25px;
  text-align: justify;
}

.bottom_line_img {
  width: 70vw;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.about_us_p2 {
  color: black;
  font-size: 25px;
  text-align: center;
}

.city_background_pic_container {
 display: flex;
 height: 500px;
 justify-content: center;
 
}

.background_pic_div {
  overflow: hidden;
}

.upper_div_contacts {
  display: flex;
  flex-direction: column;
  display: inline-block;
}

.ud_contacts_row {
  width: 50vw;
  display: flex; 
}

.upper_div_contacts p{
  color: black;
  font-size: 25px; 
}

.ud_contact_type_pic img{
  height: 30px;
  padding-right: 10px;
}

.bottom_div_contacts {
  display: flex;
  flex-direction: column;
  display: inline-block;
}

.bd_contacts_row {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.ud_contact_data {
  padding-left: 10px;
}

.ud_contact_data a{  
  color: black;
}

.bottom_div_contacts p{
  color: black;
  font-size: 25px;
 
}

.bd_contact_type{
  display: flex;
  padding-right: 10vw;
}

.bd_contact_type p{
  color: black;
  font-size: 25px;
  width: 100px ;
  text-align: left;
}

.bd_contact_type_pic img{
  height: 30px;
  padding-right: 10px;
}

.bd_contact_data {  
  min-width: 400px;
  display: flex;
  justify-content: left;
}

.bd_contact_data p{  
  text-align: left;  
}

.bd_contact_data a{  
  color: black;
}

.footer {
  background-color: #367669;
  height: 100px;
  width: 100vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: 'BitterRegular';
}

.footer_current_year {
  padding-top: 15px;
  color: white;
  font-size: 25px;
}

.developer_info_row {
  display: flex;
  width: fit-content;
  justify-content: space-between;
}

.developer_info_row p,a{
  font-size: calc(1em + 0,5vw);
  color: white;
}

.developer_info_row a {
  color: white;
}

.mobile_variant {
  display: none;
}

@media (max-width: 800px) {

  .hidden_on_mobile {
    display: none;
  }

  .header {
    flex-direction: column;
  }

  .logo_wrapper {
    width: 100vw;
    height: auto;
    padding: 20px;
    padding-top: 0;
  }

  .logo img{
    padding: 0;
    padding-top: 10px;
  }

  .contacts_text {   
    display: none;
  }

  .content {
    width: max-content;
    padding: 0px;
    justify-content: center;
  }

  .under_header_div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: 0vw;

  }

  
  .under_header_buttons_div {
    width: auto;
  }

  .under_header_buttons_div{
    padding: 0;
    margin: 0;

  }

  .button_div {
    width: fit-content;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .button_div p {
    font-size: calc(5px + 3vw);
  }

  .language_switcher{
    display: flex;
    justify-content: center;
    height: 40px;
    border-bottom: #282c34;
  }

  .background_size_pic {
    width: 200vw;
  }

  .moving_pic_1 {
    width: 200vw;
  }

  .moving_pic_2 {
    width: 200vw;
  }

  .ud_contact_data p{
    font-size: calc(5px + 2vmin);
  }

  .ud_contact_type_pic img{
    height: calc(5px + 2vmin);

  }

  .language_switcher img{
    height: calc(5px + 2vw);
  }

  .middle_line {    
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .middle_line_img {
    margin: 0;
  }

  .middle_strings {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .middle_strings p {
    font-size: calc(5px + 5vw);
  }

  .middle_jobicons_1 {
    margin-top: 0;
  }

  .middle_icon img {
    width: 36vw;
  }

  .middle_jobicons_block p {
    font-size: calc(5px + 3vw);
  }

  .carousel_container {   
    width: 100vw;
    padding: 0;
  }

  .middle_div {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .file_download {
    padding: 10px;

  }
  .download_button_p {
    font-size: calc(5px + 10vw);
  }

  .about_us_p1 {
    font-size: calc(5px + 4vw);   
  }

  .city_background_pic_container {
    height: 235px;
  }

  .bottom_div {
    display: flex;    
  }
  
  .bd_contacts_row {
    width: 50%;
  }

  .bottom_div_contacts {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bd_contact_type {
    padding: 0;
  }

  .bottom_div_contacts p{
    font-size: 20px;
  }

  .mobile_variant {
    display: flex;
    width: 100vw;
  }

  .mobile_variant p {
    width: 80vw;
    text-align: justify;
    word-wrap: break-word;
  }

  .developer_info_row {
    font-size: smaller;
  }
} 